/* 
Lesson 3: CSS positioning homwork. All of your work should be done in this file. If you find yourself altering any of the other files 
in this folder, you are in the wrong place. 
*/


/* Exercise One: Centering the text in a span */

/* We will start this one off for you: */
#exerciseOne {
  display:block;
  text-align:center;
}

/* Exercise Two: Positioning a Header Bar*/

/* Place code here */
#exerciseTwo {
  display:none;
}

/* Exercise Three: */

/* Place code here */
#exerciseThree {
  position:relative;
  left:200px;
  top:100px;
}

/* Exercise Four: */

/* Place code here */
#exerciseFour {
  position:fixed;
  top:0px;
  left:0px;
}

/* Exercise Five */

/* Place code here */
#exerciseFive {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Exercise Six */
#exerciseSix {
  flex-direction: row-reverse;
}

#exerciseSeven {
  display: flex;
}

/* Extra Credit Flexbox Code */
#exerciseSeven{min-height: 120px;margin-top: 60px;}

#exerciseSeven span{
	display: inline;
  list-style-type: none;
}

#exerciseSeven span{
	font-size: 22px;
	display: inline-block;
	margin: 0px 15px 0px 0px;
	text-decoration: none;
	float: left;
	border-bottom: 3px solid #e83119;
  -webkit-transition: border .3s ease-out;
}

#exerciseSeven span:hover{
	border-bottom: 50px solid #e83119;
	text-decoration: none; 
  color: #e83119;
}
