!<style>
        h1 {color:red;}
        #imageid {width: 400px}
        #thirdDiv {height: 600px; 
                width: 500px;
                }
        #thirdDiv {color:darkred;}
        #thirdDiv {padding:50px}
        #thirdDiv {border:5px solid black}
        #spanId {font-size:18px}
        #spanId {margin:50px}
        </style> > --->