<!h1 {
                color: brown; 
            }
            img {
                width: 400px;
            }
            #thirdDiv {
                height:600px;
                width:500px;
                color: brown;
                padding: 50px;
                border: 10px solid brown;
            }
            #spanID {
                margin:50px;
            }-->