<!--h1{
    color: darkmagenta;
    text-align: center;
  }
  h3{
    color: blue;
    text-align: center;
  }
  h4{
    color: green;
    text-align: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  thirdDiv{
    height: 600px;
    width: 500px;
    background-color: midnightblue;
    padding: 50px 50px 50px 50px;
    border: 5px dotted green;          
  }
  spanId{
    font-size: 18px;
    margin: 50px 50px 50px;
  }-->