
body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKIZud0uPlMGRZXxWznK7aPvUKrTizCyUhKdCbe11R5bq-O-g2")
}

h1 {
	color: slateblue;
}
img {
	width: 400px;
}

#thirdDiv {
	height: 600px; 
	width: 500px; 
	background-color: goldenrod;
	padding: 100px;
	border-style: groove;
	border-width: 20px;
	border-color: plum;
}
#spanID {
	font-size: 18px;
	margin: 50px;
}