/* 
Lesson 3: CSS positioning homwork. All of your work should be done in this file. If you find yourself altering any of the other files 
in this folder, you are in the wrong place. 
*/


/* Exercise One: Centering the text in a span */

/* We will start this one off for you: */
#exerciseOne {
  display: block;
  text-align: center;
}

/* Exercise Two: Positioning a Header Bar*/
#exerciseTwo {
  display: none !important;
}

/* Exercise Three: */
#exerciseThree {
  position: relative;
  left: 200px;
  top: 100px;
}

/* Exercise Four: */
#exerciseFour {
  position: fixed;
  top: 0px;
  left: 0px;
}

/* Exercise Five */
#exerciseFive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Exercise Six */
#exerciseFive {
  flex-direction: row-reverse;
}
