/* 
Lesson 3: CSS positioning homwork. All of your work should be done in this file. If you find yourself altering any of the other files 
in this folder, you are in the wrong place. 
*/

/* Exercise One: Centering the text in a span */
#exerciseOne {
  display: block;
  text-align: center;
}

/* Exercise Two: Positioning a Header Bar*/
#exerciseTwo {
  display: none;
}

/* Exercise Three: */
#exerciseThree {
  position: relative;
  left: 200px;
  top: 100px;
}

/* Exercise Four: */
#exerciseFour {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Exercise Five */
/* Exercise Six */
#exerciseFive {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

/* Exercise Seven */
#exerciseSeven {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  z-index: 1;
}

#itemOne {
  color: red;
  align-self: flex-start;
}

#itemTwo {
  border: 5px solid;
  color: blue;
  align-self: center;
  align-self: flex-end;
  font-weight: bold;
  height: 100px;
  width: 100px;
}

#itemThree {
  background-color: gold;
  align-self: flex-start;
  height: 100px;
  width: 100px;
}

#itemFour {
  align-self: flex-end;
  height: 100px;
  width: 100px;
}
