
h1 {
	color: aqua;
}

img {
	width: 400px;
}

#thirdDiv {
	height: 600px;
	width: 500px;
	background-color: black;
	padding: 50px;
	border-style: solid;
	border-width: 100px;
	border-color: aqua;
}

#spanID {
	margin: 50px;
}




