
h1 {
    color:chartreuse;
    }
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width:500px;
    background-color: bisque;
    padding: 50px;
    border: 1px solid red;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
