body h1{
	color: forestgreen;
}
img{
	width: 400px;
}
#thirdDiv{
	height: 600px;
	width: 500px;
	background-color: black;
	padding: 50px;
	border: solid;
	border-color: darkorange;
}
#spanId{
	font-size: 18px;
	margin: 50px;
}
