
        #ThirdDiv { height: 600px; width: 500px; background-color: powderblue; padding: 50px;  border-style: solid; border-color: red;
  border-width: 5px;

        }

        #SpanID  { font-size: 18px; font-style: italic; margin: 50px;
            
        }

        .DivClass {

        }
  