        h1{
            color:red;
        }

        img{
            width: 400px;
        }

        #thirdDiv {
            height: 600px;
            width: 500px;
            background-color: lawngreen;
            padding: 50px;
            border: 25px solid black;
        }

        #spanID {
            font-size: 18px;
            margin: 50px;
        }


