body{
    background-image: url("brooke-lark-385507-unsplash.jpg");
    margin: auto;
}
    h1{
        color: limegreen;
    }
h4{
    text-align: center;
}
    img{
        width: 400px;
    }
.divClass{
    text-align: center;
/*    display: flex;*/
/*    justify-content: center;*/
    
}
    #thirdDiv{
        height: 600px;
        width: 500px;
        background-color: grey;
        padding: 50px;
        border: 5px solid black;
       
        margin: auto;
        
    }
    #spanId{
        font-size: 18px;
        margin: 50px;
    }
    
