h1 {
  color: blue;
}
img {
  width: 400px;
}
.divClass {
  height: 600px;
  width: 500px;
  background-color: grey; 
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
#thirdDiv {
  padding: 50px;
  border: 2px blue solid;
}
body {
  background: url(https://cook.fnr.sndimg.com/content/dam/images/cook/fullset/2011/1/6/0/CCEV103_Margherita-Pizza_s4x3.jpg.rend.hgtvcom.966.725.suffix/1416867304309.jpeg);
}
