 <!--  homework  -->
  img {
    width:400px;
  }
div {
          display: flex-basis;
          flex-direction: column-reverse;
text-align: center;
padding: 10px;
        }
  #thirdDiv {
display: flex;
height: 600px;
width: 500px;
margin:auto;
    background-color: powderblue;
    padding: 50px;
    border:  10px solid grey;
text-align: left;
  }
  #spanId {
    font-size: 18px;
    margin: 50px;
    
  }
  body {
  background-image: url("https://lorempixel.com/output/city-q-c-1377-1288-7.jpg")
	}
h1 {
color:red;
}


img {
  display: block;
}