h1 {
    color: red;     
 }

 img {
     width: 400px;
 }

 #thirdDiv {
     height: 600px;
     width:  500px;
     background-color: green;
     padding: 50px;
     border: 10px solid red;
 }

 #spanId {
     font-size: 18px;
     margin: 50px;
 }