h1 {
  color: green;
}

#p1 {
  width: 400px;
  height: 270px;
}

#p2{
  width: 400px;
  height: 270px
}

#thirdDiv {
 height: 600px;
 width: 500px;
 padding: 50px; 
 background-color: yellow;
 border-style: solid;
 border-color: red;
 border-width: 8px;
 margin: auto;
}

#spanID {
	font-size: 18px;
	margin: 50px;
}

body{
  background-image: url(http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/51/r4/p051r48d.jpg);
}
div{
  text-align: center;
}

h1.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
