 <!-- <style>
        h1 {
          color: salmon;
        }

        img {
          width: 400px;
        }

        #thirdDiv {
          width: 500px;
          height: 600px;
          padding: 50px;
          border-style: solid;
          border-width: medium;
          border-color: bisque;
        }
        
        #thirdDiv {
          background: linen;
        }    
        
        #spanId {
          font-size: 18px;
          margin: 25px;
        }
    </style> --> 
    
