/* 
Lesson 3: CSS positioning homwork. All of your work should be done in this file. If you find yourself altering any of the other files 
in this folder, you are in the wrong place. 
*/

/* Exercise One: Center the text in a span */

#exerciseOne {
  display: block;
  text-align: center;
}

/* Exercise Two: Dissapear element */
#exerciseTwo {
  display: none;
}

/* Exercise Three: Move element using position property */
#exerciseThree {
  position: relative;
  top: 100px;
  left: 200px;
}

/* Exercise Four: Anchor the LS header */
#exerciseFour {
  position: fixed;
  top: 0px;
  left: 0px;
}

/* Exercise Five: Align header items */
#exerciseFive {
  display: flex;
  flex-direction: row-reverse; /* <-- Exercise Six: Reverse item's order */
  justify-content: space-evenly;
  align-items: center;
}

/* Exercise Seven: Go nuts */
#exerciseSeven {
  display: flex;
  flex-direction: column;
  
}
#itemOne {
  align-items: flex-end;
  order: 2;
}

#itemTwo {
  display: inline;
  justify-content: flex-end;
  order: 3;
}

#itemThree {
  align-self: flex-end;
  order: 4;
}

#itemFour {
  align-self: flex-start;
}