/* 
Lesson 3: CSS positioning homework. All of your work should be done in this file. If you find yourself altering any of the other files 
in this folder, you are in the wrong place. 
*/


/* Exercise One: Centering the text in a span */

/* We will start this one off for you: */
#exerciseOne {
	display: block;
	text-align: center;
}


/* Exercise Two: Positioning a Header Bar*/

#exerciseTwo {
	display: none;
}



/* Exercise Three: */

#exerciseThree {
	padding-left: 200px;
	padding-top: 100px;
}


/* Exercise Four: */

#exerciseFour {
	top: 0px;
	position: fixed;
}


/* Exercises Five and Six*/

 #exerciseFive {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

#exerciseSeven {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: space-between;
	flex-direction: column;
}

#itemOne {
	order: 3;
	margin-right: 50px;
}

#itemFour {
	order: 2;
	margin-right: 20px;
}

#itemTwo {
	order: 1;
}

#itemThree  {
	align-self: flex-end;
}