#thirdDiv {
    width:  500px;
    height: 600px;
    background-color: transparent;
    padding: 50px;
    border: 3px dotted darkred;
    /* margin: auto; */
}

.divClass {
}

#spanId {
    font-size: 18px;
    /*margin: 50px;*/
}

h1 {
    color: slategray;
}

img {
    width:  300px;
    height: 300px
}

/* Extra credit */

.text {
    color: slategray;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.overlay {
    position: absolute;
    top:     0;
    left:    0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center;*/
}

.overlay-item {
    margin: auto;
}