
h1 {
	color: yellow;
}

img {
	width: 400px;
}

#thirdDiv {
	height: 600px;
	width: 500px;
	background-color: lightblue;
	padding: 50px;
	border: 5px solid black;
}

#spanId {
	font-size: 18px;
	margin: 50px;
}
