h1 {
    color:blue;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: black;
    padding: 50px;
    border: 10px;
     

}
#spanID {
    font-size: 18px;
    margin: 50px;
    
}