h1 {
    color: darkred;
    }
h1, h3, h4, #spanId, a {text-shadow: 1px 1px darkred;
}
div {
    text-align: center;
}
#thirdDiv {
    width: 500px;
    background-color: rgb(151, 6, 6);
    padding: 50px;
    border: 5px dotted gold;
    margin: auto;
    }
#spanId {
    font-size: 18px;
     margin: 50px;
    }
img {
     width: 400px;
    }
body {
    background-image: url("https://www.pfalz.ihk24.de//blob/luihk24/international/Bilder/1282122/afb985429ae91abfbbac8ae0fdc5e93b/LOGO-Kompetenzzentrum-China-data.png");
    }