h1{
    color: darkblue
}
img{
    width: 400px
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: cyan;
    padding: 50px;
    border: 1px solid goldenrod;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
