
h1 {
  color: blue;
}
img {
  width: 400px; 
}
#thirdDiv {
  width: 500px;
  height: 600px;
  background-color: orange;
  padding: 50px;
  border: 5px solid gray; 
}

#spanID {
  font-size: 18px;
  margin: 50px;
  
}
