<!-- h1 {color: brown}
img {width: 400px}
#thirdDiv{
    height: 600px; 
    width: 500px;
    background: blue;
    padding: 50px;
    border: 30px solid black;
     }
    #spanId {margin: 50px;
    font-size: 18px;
    margin: 50px;} -->