<!-- 

h1 {
    color: darkred;
}


img {
    width: 400px;                    
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color:darkorange;
    padding: 50px;
    border: 5px dotted saddlebrown;              
}

#spanId {
    font-size: 18px;
    margin: 50px;
}                

-->