    h1{color: crimson;}
    img{width: 400px;}
    #thirddiv{height:600px;width:500px;background-color:plum;padding:50px;border:8px solid black}
    #spanid{font:18px;margin:50px;}
    
    
    
    