<!-- 
h1 {color:firebrick}  

img {width: 400px}

#thirdDiv{
   height: 600px; 
   width: 500px;
   background: whitesmoke;
   padding: 50px;
   border: 3px solid black;
         }

#spanID{
    font-size: 18px;
    margin: 50px;
        } 
          -->