h1{
  color: #395;
}
img{
  width: 400px;
}
#thirdDiv{
  width: 500px;
  height: 600px;
  background-color: #865;
  padding: 50px;
  border: 1px solid black;
}
#spanId{
  font-size: 18px;
  margin: 50px;
}
