h1 {
    color: red;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: aqua;
    padding: 50px;
    border: 3px solid red;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}