h1 {
    color: firebrick;
    font-size: 40px;
}  
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width:500px;
  background-color: coral;
  padding: 50px;
  border: 5px dashed aqua;
  margin: 0 auto;
}
#spanId {
    font-size: 18px;
    margin: 50px;

}
html {
    background: url("https://i.ytimg.com/vi/aaSLc-KMXGg/maxresdefault.jpg");
}
div {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px 300px 50px 300px;
    text-align: center;
}
h3 {
    background-color: rgba(255, 250, 250, 0.7);
    
}
h4 {
    background: rgba(255, 250, 250, 0.7);
}