h1 {
    color: blueviolet;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: aquamarine;
    padding: 50px;
    border: 5px;
    border-color: blue;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}