h1 {
    color: mediumblue;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: antiquewhite;
    padding: 50px;
    border: 2px solid black;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

