
  h1 {color :turquoise;}
  .image {width :400px;height:280px}
  #thirdDiv {height:600px;          width:500px;background:pink;padding:50px;border:1px solid           black;margin:auto}
  .divClass {font-size:18px;margin:50px;height:600px;width:600px;border:1px solid black;margin:auto}
  .divClass {background:url("http://www.powerpointhintergrund.com/uploads/food-background-3.jpg")} 
 