h1 {
  color: steelblue;
}

img {
  width: 400px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: slategray;
  padding: 50px;
  border: 2px solid red;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}
