//styles.css
        <!--              
            body{background: url(https://images.unsplash.com/photo-1489093990898-aa81d43f910b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9efd9dd6c3a60afb1ea45a073cc44319&dpr=1&auto=format&fit=crop&w=767&h=511&q=60&cs=tinysrgb);}  
            h1{ color:rgba(50, 17, 238, 0.548);}
            img {width: 400px;}
            #thirddiv{height:600px; width:500px;}
            #thirddiv{background-color: peachpuff;}
            #spanID{margin:50px;}
            #thirddiv{padding:50px;}
            #thirddiv{width:1002px; border: 5px solid red;}
            div {margin: auto;}    
            .content{max-width: 500px;
                   align-content: center; }
            -->