h1 {
    color: dimgray;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: whitesmoke;
    padding: 50px;
    border: 2px solid dimgray;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}
