h1 {
	color: aqua;
	} 
img {
	width: 400px;
		}
#thirdDiv {
	height: 600px;
	width: 500px;
	background-color: black;
	padding: 50px;
	border: 10px solid red; 
		}
#spanId {
	font-size: 18px;
	margin: 50px;
		}
