h1 {
    color: gold;
  }
  img {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  #thirdDiv {
    height: 600px;
    width: 500px;
    border-style: outset;
    border: 30;
    border-color: springgreen;
    padding: 50px;
    margin: auto;
    background-color: darkorange; 
    align-items: center;
    justify-content: center;
  }
  .divClass {
    display: flex; 
    align-items: center; 
    flex-direction: column;
  }
  #spanId {
    font-size: 18px;
    margin: 50px;
    display: flex;
    align-items: center;
  }
  html {
    background: url(ganesh.jpg) no-repeat center fixed;
    background-size: cover;
  }