<!-- h1 {
	color: rosybrown;
	}

img{
	width: 400px;
	}

#thirdDiv {
	height: 600px;
	width: 500px;
	background-color: white;
	padding: 50px;
	border: 3px solid black;
		}

#spanId {
	font-size: 18px;
	margin: 50px;
		} -->