<!-- h1 {
    color: blueviolet;
}
      img {
        width: 400px;
  }
  .divClass {
    margin: auto;
  }
    #thirdDiv {
    margin: auto;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 0.5rem outset pink;
    background: pink;
    }
    #spanId {
        18px
        margin: 50px;
    } -->