body.center {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
div {
    margin: auto;
}
body {
    background-image: url("https://hdwallsource.com/img/2014/4/light-background-wallpaper-22923-23559-hd-wallpapers.jpg");
}
div.firstDiv h1 {
    color: orangered;
}
img {
    width: 400px;
}
div#thirdDiv {
    padding: 50px;
    border: 2px solid darkgoldenrod;
    height: 600px;
    width: 500px;
    background-color: darkolivegreen;   
}
#spanId {
    margin: 50px;
    font-size: 18px;
}