h1{
    color:red;
}
img {
    width:400px;
}
#thirdDiv {
    height:600px;
    width:500px;
    background-color:aliceblue;
    padding:50px;
    border:50px solid black;
}
#spanId {
    font-size:18px;
    margin:50px;

}