                h1{color: cadetblue;}
                img{width:400px;}
                #thirdDiv{height:600px;}
                #thirdDiv{width:500px;}
                #thirdDiv{background-color:black;}
                #spanId{font-size:18px;}
                #spanId{margin:50px;}
                #thirdDiv{padding:50px;}
                #thirdDiv{border:25px solid darkturquoise;}