h1 {
    color:maroon
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: beige;
    padding: 50px;
    border: 5px black;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}