h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}


.bio {
  color: white;
  font-size: 14px;
}

.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}


.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.grey {
  height: 3px;
  background-color: #919191;
  border: none;
  width: 50px;
}
