h1 {
  color: navy;
}

img {
  width: 400px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: darkgray;
  padding: 50px;
  border: 1px solid black;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}