img {height: 70px; width: 400px}
h1 {background-color: #08CD99; color: #3300AA;}
#thirdDiv {height: 600px;width: 500px; background-color: #21BBCD; padding: 50px; border-width: 7px; border-style: solid; border-color: rgba(241, 6, 6, 0.979);}
#spanId {font-size: 50px; margin: 50px;}