<!--h1{ 
    color: green

}
img{ width: 400px;}
#ThirdDiv{
    Height: 600px;
    width: 500px;
    padding: 50px;
    border: 10px solid fuchsia;
}
#SpanID{
    font-size: 18px;
    margin: 50px;
}--> 